body{
    background: #fff;
    color: #1d2129;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    overflow-y: scroll;
}

/* Globals */
.container{
    width: 72%;
    margin: auto;
    overflow: hidden;
}


/* Start of Header styling*/

header{
    background-color: rgb(56, 84, 146);
    margin: 0;
    min-height: 70px;
    color: #ffffff;
}

header form input{
    display: block;
}


/* Header - logo & log in details */
.logo-login-details h1{
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: left;
    margin-bottom: 10px;
}

.logo-login-details form{
    float: right;
}

.logo-login-details form .email{
    float: left;
    margin-top: 15px;
    text-align: center;
    margin-right: 15px;
    text-align: left
}

.logo-login-details form .password{
    float: left;
    margin-top: 15px;
    text-align: center;
    margin-right: 15px;
    text-align: left;
}

.logo-login-details form .login-form-btn{
    float: left;
    margin-top: 35px;
    text-align: center;
}

.logo-login-details form button{
    background-color: rgb(56, 84, 146);
    border-radius: 2px;
    border: 0 solid;
    padding: 5px;
    color: rgb(247, 247, 247);
    cursor: pointer;
}

.logo-login-details input{
    padding: 4px;
    height: 9px;
    width: 135px;
    margin-top: 5px;
}

/* come back and fix it */
.logo-login-details a{
    margin-top: 10px;
    text-decoration: none;
    color: rgb(148, 159, 185);  
}


/* End of Header styling */


/* Start of Main body styling */

/* Main left section */
main{
    background-color: #edf0f5;
    color: rgb(77, 70, 70);
}

main .about-fb{
    float: left;
    width: 50%;
    margin-top: 40px;
}

main .about-fb h1{
    font-size: 30px;
    margin-bottom: 40px;
}

main .about-fb-subsection{
    /* margin-bottom: 50px; */
    display: inline-flex;
    margin-bottom: 20px;
}

main .about-fb-subsection img{
    /* float: left; */
    height: 40px;
    width: 45px;
}

main .about-fb-subsection h3{
    /* float: left; */
    margin-left: 20px;
    font-size: 17px;
    margin-top: 10px;
}

main .about-fb-subsection p{
    /* float: right; */
    margin-left: 10px;
    font-size: 15px;
    margin-top: 10px;
}

/* End of main left section */

/* Main right section */
main .sign-up{
    float: right;
    width: 40%;
}

main .sign-up h1{
    font-size: 35px;
    margin-bottom: 0;
}

main .sign-up p{
    margin-top: 0;
    font-size: 15px;
}

main .sign-up form #first-name {
    margin-right: 5px;
    padding: 10px 0 10px 10px;
    border-radius: 5px;
    font-size: 15px;
    width: 45%;
    margin-bottom: 10px;
}

main .sign-up form #last-name{
    padding: 10px 0 10px 10px;
    border-radius: 5px;
    font-size: 15px;
    width: 45%;
}

main .sign-up form #mobile-or-phone{
    padding: 10px 0 10px 10px;
    border-radius: 5px;
    font-size: 15px;
    width: 100%;
    margin-bottom: 10px;
}

main input[type="password"]{
    padding: 10px 0 10px 10px;
    border-radius: 5px;
    font-size: 15px;
    width: 100%;
    margin-bottom: 10px;
}

main form #birthday{
    font-size: 18px;
    margin: 0;
    margin-bottom: 10px;
}

main form select{
    padding: 3px;
}

main form .select-date a{
    text-decoration: none;
    font-size: 10px;
    margin-right: 0;
    padding-right: 0;
    color: rgb(72, 115, 165);
}

main form .gender{
    margin-top: 15px;
    font-size: 18px;
}

main form #terms-conditions{
    width: 80%;
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 15px;
}

main form #create-account-btn{
    padding: 10px 25px;
    border-radius: 8px;
    background-color: #67ae55;
    font-size: 19px;
    color: #ffffff;
    margin-bottom: 20px;
    font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif !important;
    border-color: #3b6e22 #3b6e22 #2c5115;
    border-top-color: rgb(59, 110, 34);
    border-right-color: rgb(59, 110, 34);
    border-bottom-color: rgb(44, 81, 21);
    border-left-color: rgb(59, 110, 34);
    cursor: pointer;
}

main form #celebrity-band-business{
    font-weight: 1.2em;
    margin-bottom: 50px;
    font-size: 12px;
}

main form #celebrity-band-business a{
    text-decoration: none;
    color: rgb(72, 115, 165);
}
/* End of Main styling */


/* Start of Footer styling */

footer{
    margin-top: 15px;
    background-color: white;
    color: rgb(136, 124, 124);
}

footer .languages{
    margin-top: 15px;
    margin-bottom: 15px
}

footer .languages a{
    text-decoration: none;
    padding-left: 10px;
    color: #365899
}

footer hr{
    background-color: whitesmoke
}

footer .first-line-links a{
    margin-top: 10px;
    /* margin-bottom: 15px; */
    text-decoration: none;
    padding-right: 15px;
    color: #365899;
}

footer .second-line-links a{
    text-decoration: none;
    padding-right: 15px;
    color: #365899;
    padding-top: 10px;
}

footer .fb-copyright{
    margin-top: 25px;
    margin-bottom: 10px;
    color: rgb(136, 124, 124);
    font-size: 11px;
}